// location of libraries
JLAB_SOFTWARE = /opt/jlab_software/devel/Darwin_macosx10.15-x86_64-clang11.0.0

// build directory is on the home dir
MYBUILDDIR = /Users/ungaro/builds

// The path to JLAB_SOFTWARE is set in each project settings.
// This file should be included in any project xcode settings
// libraries are added in xcode directly (dragged there)


// QT
// $QTBASE is needed because some qt headers call that instead of the frameworks headers
// Looks like it's not really needed but it's very convenient to define QT_HEADS easily
// directory to manually link in subdirs of (need creation?) /opt/jlab_software/devel/Darwin_macosx10.15-x86_64-clang11.0.0/qt/5.10.1/5.10.1/Src/qtbase/include
// cd /opt/jlab_software/devel/Darwin_macosx10.15-x86_64-clang11.0.0/qt/5.10.1/5.10.1/Src/qtbase/include
// ln -s /opt/jlab_software/devel/Darwin_macosx10.15-x86_64-clang11.0.0/qt/5.10.1/5.10.1/clang_64/lib/QtCore.framework/Versions/Current/Headers/*    QtCore/
// ln -s /opt/jlab_software/devel/Darwin_macosx10.15-x86_64-clang11.0.0/qt/5.10.1/5.10.1/clang_64/lib/QtXml.framework/Versions/Current/Headers/*     QtXml/
// ln -s /opt/jlab_software/devel/Darwin_macosx10.15-x86_64-clang11.0.0/qt/5.10.1/5.10.1/clang_64/lib/QtWidgets.framework/Versions/Current/Headers/* QtWidgets/
// ln -s /opt/jlab_software/devel/Darwin_macosx10.15-x86_64-clang11.0.0/qt/5.10.1/5.10.1/clang_64/lib/QtGui.framework/Versions/Current/Headers/*     QtGui/
// if qt threads
// ln -s /opt/jlab_software/devel/Darwin_macosx10.15-x86_64-clang11.0.0/qt/5.10.1/5.10.1/clang_64/lib/QtConcurrent.framework/Versions/Current/Headers/* QtConcurrent/

QT_VERSION = 5.10.1
QT_SYSTEM  = 5.10.1
QT_ARCH    = clang_64
QTDIR      = $JLAB_SOFTWARE/qt/$QT_VERSION
QTFRAMES   = $QTDIR/$QT_SYSTEM/$QT_ARCH/lib
QTBASE     = $QTDIR/$QT_SYSTEM/Src/qtbase/include
QT_HEADS   = $QTBASE $QTFRAMES/QtCore.framework/Headers $QTFRAMES/QtGui.framework/Headers $QTFRAMES/QtWidgets.framework/Headers

// CCDB
// adding includes here
CCDB_VERSION = 1.07.00
CCDB_ROOT    = $JLAB_SOFTWARE/ccdb/ccdb-$CCDB_VERSION
CCDB_HEADS   = $CCDB_ROOT/include

// CLHEP
// for libraries: open $CLHEP_BASE_DIR/lib/
CLHEP_VERSION = 2.4.1.3
CLHEP_ROOT    = $JLAB_SOFTWARE/clhep/$CLHEP_VERSION
CLHEP_HEADS   = $CLHEP_ROOT/include $CLHEP_ROOT/include/CLHEP

// GEANT4
// for libraries: open $G4LIB/
GEANT4_VERSION = 4.10.06
GEANT4_ROOT    = $JLAB_SOFTWARE/geant4/$GEANT4_VERSION
GEANT4_HEADS   = $GEANT4_ROOT/include/Geant4

// ROOT
// for libraries: open $ROOTSYS/lib/
// - core
// - RIO for files
// - TTree for trees
ROOT_VERSION = 6.18.04
ROOTSYS      = $JLAB_SOFTWARE/root/$ROOT_VERSION
ROOT_HEADS   = $ROOTSYS/include


// GLIBRARY
// adding includes here
GLIB_ROOT    = /opt/projects/gemc/glibrary
GLIB_HEADS1  = $GLIB_ROOT/gstring $GLIB_ROOT/goptions
//GLIB_HEADS2  = $GLIB_ROOT/textProgressBar  $GLIB_ROOT/qtButtonsWidget $GLIB_ROOT/gfactory
//GLIB_HEADS3  = $GLIB_ROOT/gvolume $GLIB_ROOT/g4volume $GLIB_ROOT/g4display $GLIB_ROOT/gtouchable $GLIB_ROOT/gdynamic
//GLIB_HEADS4  = $GLIB_ROOT/gdata $GLIB_ROOT/gmedia
//GLIB_CMESH    = $GLIB_ROOT/cadmesh/include $GLIB_ROOT/cadmesh/external/tetgen $GLIB_ROOT/cadmesh/external/assimp/include/
//GLIB_HEADS   = $GLIB_HEADS1 $GLIB_HEADS2 $GLIB_HEADS3 $GLIB_HEADS4 $GLIB_MESH
GLIB_HEADS   = $GLIB_HEADS1
