// The path to JLAB_SOFTWARE is set in each project settings.
// This file should be included in any project xcode settings


// QT
// the ** indicate all subdirs
// NOTICE: some qt headers require the include directory
// but it doesn't come with the normal installation
// make sure to copy the headers manually
QT_VERSION = 4.8.5
QTDIR      = $JLAB_SOFTWARE/qt/$QT_VERSION
QT_HEADS   = $QTDIR/include/**


// EVIO
EVIO_VERSION = 4.0
EVIO         = $JLAB_SOFTWARE/evio/$EVIO_VERSION
EVIO_LIBP    = $EVIO/lib
EVIO_LIBS    =  -levioxx -levio -lexpat
EVIO_HEADS   = $EVIO/src/libsrc $EVIO/src/libsrc++

// XERCES
XERCESC_VERSION = 3.1.1
XERCESCROOT     = $JLAB_SOFTWARE/xercesc/$XERCESC_VERSION
XERCESC_LIBP    = $XERCESCROOT/lib
XERCESC_LIBS    = -lxerces-c 
XERCESC_HEADS   = $XERCESCROOT/include

// CLHEP
CLHEP_VERSION = 2.1.3.1
CLHEP_ROOT    = $JLAB_SOFTWARE/clhep/$CLHEP_VERSION
CLHEP_HEADS   = $CLHEP_ROOT/include
CLHEP_LIBP    = $CLHEP_ROOT/lib
CLHEP_LIBS    = -lCLHEP

// GEANT4
// The libraries in xcode should added manually to the
// project (assigned to proper targets).
GEANT4_VERSION = 4.9.6.p02
GEANT4_ROOT    = $JLAB_SOFTWARE/geant4/$GEANT4_VERSION
GEANT4_HEADS   = $GEANT4_ROOT/include/Geant4
GEANT4_PREPROC = G4VIS_USE_OPENGL G4UI_USE_TCSH G4INTY_USE_QT G4UI_USE_QT G4VIS_USE_OPENGLQT
// GEANT4_LIBP    = $GEANT4_ROOT/lib
// GEANT4_LIBS    = -lG4OpenGL -lG4gl2ps -lG4Tree -lG4FR -lG4GMocren -lG4visHepRep -lG4RayTracer
// -lG4VRML -lG4vis_management -lG4modeling -lG4interfaces -lG4persistency -lG4analysis -lG4error_propagation
// -lG4readout -lG4physicslists -lG4run -lG4event -lG4tracking -lG4parmodels -lG4processes -lG4digits_hits
// -lG4track -lG4particles -lG4geometry -lG4materials -lG4graphics_reps -lG4intercoms -lG4global


// GEMC
GEMC_VERSION = devel
GEMC_ROOT    = $JLAB_SOFTWARE/gemc/releases/$GEMC_VERSION/source
GEMC_HEADS   = $GEMC_ROOT/utilities $GEMC_ROOT/output $GEMC_ROOT/src
GEMC_LIBP    = $GEMC_ROOT/lib
GEMC_LIBS    = -lutilities -loutput


// ROOT
// libraries are better added in xcode directly (dragged there)
// and added to the relevant paths
ROOT_VERSION = 5.34.13
ROOT_ROOT    = $JLAB_SOFTWARE/root/$ROOT_VERSION/root
ROOT_HEADS   = $ROOT_ROOT/include/root
ROOT_LIBP    = $ROOT_ROOT/lib/root



